<app-header></app-header>

<section id="home">
    <div class="container">
        <div class="hero-content">
            <h1>Welcome to i<span>Farm</span>, <br>
                 Stay ahead of the game
            </h1>
            <mat-divider></mat-divider>
            <p>Your gateway to a sustainable future.</p>
        </div>
    </div>
</section>
<section id="services">
    <app-services></app-services>
</section>
<section id="about">
    <app-about></app-about>
</section>
<section id="testimonials">
    <app-testimonials></app-testimonials>
</section>
<section id="contact">
    <app-contacts></app-contacts>
</section>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>&copy; 2024 iFarm. All rights reserved.</p>
        </div>
        <div class="footer-center">
            <a href="#faqs">FAQs</a>
            <a href="#privacy">Privacy Policy</a>
            <a href="#terms">Terms of Service</a>
        </div>
        <div class="footer-right">
            <button class="back-to-top" (click)="scrollToTop()">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
    </div>
</footer>