<app-header></app-header>

<section id="home">
    <div class="container">
        <div class="hero-content">
            <h1>Welcome to i<span>Farm</span>, <br>
                 Stay ahead of the game
            </h1>
            <mat-divider></mat-divider>
            <p>Your gateway to a sustainable future.</p>
        </div>
    </div>
</section>
<section id="services">
    <app-services></app-services>
</section>
<section id="about">
    <app-about></app-about>
</section>
<section id="testimonials">
    <app-testimonials></app-testimonials>
</section>
<section id="contact">
    <app-contacts></app-contacts>
</section>